<!--
  Navigation buttons at the bottom of the post.
-->
<!-- 원본 -->
<!-- <div class="post-navigation d-flex justify-content-between">
  {% if page.previous.url %}
  <a href="{{ site.baseurl }}{{ page.previous.url }}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[site.lang].post.button.previous }}">
    <p>{{ page.previous.title }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[site.lang].post.button.previous }}">
    <p>-</p>
  </div>
  {% endif %}

  {% if page.next.url %}
  <a href="{{ site.baseurl }}{{page.next.url}}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[site.lang].post.button.next }}">
    <p>{{ page.next.title }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[site.lang].post.button.next }}">
    <p>-</p>
  </div>
  {% endif %}

</div> -->

<!-- 같은 카테고리 내에서 이전글, 다음글 -->
{% assign cat = page.categories[1] %}
{% assign cat_list = site.categories[cat] %}
{% for post in cat_list %}
  {% if post.url == page.url %}
  	{% assign prevIndex = forloop.index0 | minus: 1 %}
  	{% assign nextIndex = forloop.index0 | plus: 1 %}
  	{% if forloop.first == false %}
  	  {% assign next_post = cat_list[prevIndex] %}
  	{% endif %}
  	{% if forloop.last == false %}
  	  {% assign prev_post = cat_list[nextIndex] %}
  	{% endif %}
  	{% break %}
  {% endif %}
{% endfor %}

<div class="post-navigation d-flex justify-content-between">
  {% if prev_post %}
  <a href="{{ site.baseurl }}{{ prev_post.url }}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[site.lang].post.button.previous }}">
    <p>{{ prev_post.title }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[site.lang].post.button.previous }}">
    <p>-</p>
  </div>
  {% endif %}

  {% if next_post %}
  <a href="{{ site.baseurl }}{{next_post.url}}" class="btn btn-outline-primary"
    prompt="{{ site.data.locales[site.lang].post.button.next }}">
    <p>{{ next_post.title }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled"
    prompt="{{ site.data.locales[site.lang].post.button.next }}">
    <p>-</p>
  </div>
  {% endif %}

</div>
